In [10]:
#import dependencies 
import pandas as pd
import numpy as np

In [6]:
# Read the mouse data and the study results
world_data = pd.read_csv("Resources/data-raw/Data_Extract_From_World_Development_Indicators/world_bank_internet_data.csv")

In [8]:
world_data

,Country Name,Country Code,Series Name,Series Code,1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,0,0,0,0,..,...,5,5.454545455,5.9,7,8.26,11,13.5,16.8,17.6,18.4
1,Afghanistan,AFG,Secure Internet servers,IT.NET.SECR,..,..,..,..,..,..,...,16,38,46,57,74,426,1577,1965,1047,1362
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,..,..,..,..,..,..,...,0.531254164,1.219458267,1.425490598,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306
3,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0,0,0,0,0,0,...,13797879,15340115,16807156,18407168,19709038,21602982,23929713,21976355,22580071,22678024
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,45.81362616,49.22797697,52.08357627,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2397,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2398,Last Updated: 05/25/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
new_world_data = world_data.dropna()
new_world_data.head()

,Country Name,Country Code,Series Name,Series Code,1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,0,0,0,0,..,...,5,5.454545455,5.9,7,8.26,11,13.5,16.8,17.6,18.4
1,Afghanistan,AFG,Secure Internet servers,IT.NET.SECR,..,..,..,..,..,..,...,16,38,46,57,74,426,1577,1965,1047,1362
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,..,..,..,..,..,..,...,0.531254164,1.219458267,1.425490598,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306
3,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0,0,0,0,0,0,...,13797879,15340115,16807156,18407168,19709038,21602982,23929713,21976355,22580071,22678024
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,45.81362616,49.22797697,52.08357627,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184

In [16]:
new_world_data.replace('..', 0).head()

,Country Name,Country Code,Series Name,Series Code,1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,0,0,0,0,0,...,5,5.454545455,5.9,7,8.26,11,13.5,16.8,17.6,18.4
1,Afghanistan,AFG,Secure Internet servers,IT.NET.SECR,0,0,0,0,0,0,...,16,38,46,57,74,426,1577,1965,1047,1362
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,0,0,0,0,0,0,...,0.531254164,1.219458267,1.425490598,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306
3,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0,0,0,0,0,0,...,13797879,15340115,16807156,18407168,19709038,21602982,23929713,21976355,22580071,22678024
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,45.81362616,49.22797697,52.08357627,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184