In [16]:
#Import Dependencies
import pandas as pd
import numpy as np

# Import the world countries internet data from the World Bank

In [17]:
# Import the countries internet data from world bank 
world_data = pd.read_csv("../Resources/data-raw/Data_Extract_From_World_Development_Indicators/world_bank_internet_data.csv", skipfooter=433)
# Replace all ".." with 0
world_data = world_data.replace("..",0)
#Rename the Country and Country Codes column to allow merging later on
world_data.rename(columns={"Country Name": "Country", "Country Code": "Codes"}, inplace=True)
# Remove the brackets and the duplicated value in the Year columns 
world_data = world_data.rename(columns={col: col.split('[')[0] for col in world_data.columns})

/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [18]:
#Import the coordinate csv file, rename columns for merging with each other later on
coordinates = pd.read_csv("../Resources/data-raw/countries-location/world_country.csv")
coordinates.rename(columns={"iso_con" : "Codes", "lat": "Latitude", "lon": "Longitude"},inplace=True)
coordinates.drop(columns=["Unnamed: 0", "country"],inplace=True)

In [20]:
# Merge the coordinates with tHE world_data DataFrame
final_world = pd.merge(world_data, coordinates, on="Codes", how="left")
# Find out if there are any NaN values for Latitude and Longitude and then drop them 
final_world[final_world.isnull().any(axis=1)] 
final_world.dropna(subset=['Latitude','Longitude'],inplace=True)
final_world

,Country,Codes,Series Name,Series Code,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,Longitude,Latitude
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,0,0,0,0,0,...,5.9,7,8.26,11,13.5,16.8,17.6,18.4,66.238514,33.768006
1,Afghanistan,AFG,Secure Internet servers,IT.NET.SECR,0,0,0,0,0,0,...,46,57,74,426,1577,1965,1047,1362,66.238514,33.768006
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,0,0,0,0,0,0,...,1.425490598,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306,66.238514,33.768006
3,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0,0,0,0,0,0,...,16807156,18407168,19709038,21602982,23929713,21976355,22580071,22678024,66.238514,33.768006
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,52.08357627,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184,66.238514,33.768006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,Zimbabwe,ZWE,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,102.1182479,86.83967351,92.34710538,91.79345804,98.98507333,89.40486891,90.10228966,88.75580606,29.746841,-18.455496
1976,Zimbabwe,ZWE,Fixed broadband subscriptions,IT.NET.BBND,0,0,0,0,0,0,...,103916,152234,163987,170838,187310,203056,204424,203461,29.746841,-18.455496
1977,Zimbabwe,ZWE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,0,0,0,0,0,0,...,0.778375256,1.120462817,1.187053232,1.217633426,1.315693816,1.40632166,1.395817464,1.368916372,29.746841,-18.455496
1978,Zimbabwe,ZWE,Fixed telephone subscriptions,IT.MLT.MAIN,126086,127072,128069,134812,152473,174985,...,304162,329475,333702,305720,264150,268849,265734,252067,29.746841,-18.455496
1979,Zimbabwe,ZWE,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,1.180470546,1.165744477,1.154527194,1.197079245,1.336226638,1.516174594,...,2.278303385,2.424980534,2.415569756,2.178993496,1.855429616,1.861989658,1.81444526,1.695944889,29.746841,-18.455496

# Import the region part of the World Bank Data csv file

In [ ]:
#Import the regions data from csv file
world_regions = pd.read_csv("../Resources/data-raw/Data_Extract_From_World_Development_Indicators/world_bank_internet_data.csv", skiprows=range(1,1954), skipfooter=5)
# Replace all ".." with 0
world_regions = world_regions.replace("..",0)
# #Rename the Country and Country Codes columns
world_regions.rename(columns={"Country Name": "Country", "Country Code": "Codes"}, inplace=True)
# # Remove the brackets and the duplicated value in the Year columns 
world_regions = world_regions.rename(columns={col: col.split('[')[0] for col in world_regions.columns})

# Age and Gender Internet Usage Data

In [2]:
# Reading the ITU excel file sex and age sheet to clean and turn into gender and age dataframes for data cleaning
gender_df = pd.read_excel('../Resources/data-raw/Data_Extracted_From_ITU/ITU_regional_global_Key_ICT_indicator_aggregates_rev1_Jan_2022.xlsx', header=[3,4], sheet_name = "Internet use by sex & age")

In [ ]:
# Get the gender tables
gender_df=gender_df.iloc[:13,0:12]
#Drop unnecessary columns
cols = [4,8]
gender_df.drop(gender_df.columns[cols],axis=1,inplace=True)
# Drop unnecessary rows
gender_df = gender_df.drop(6)
gender_df = gender_df.drop(7)

In [15]:
age_df = pd.read_excel('../Resources/data-raw/Data_Extracted_From_ITU/ITU_regional_global_Key_ICT_indicator_aggregates_rev1_Jan_2022.xlsx', skiprows=range(0,21), header=[0,1], skipfooter=10 , sheet_name = "Internet use by sex & age")
age_df

                          Unnamed: 0_level_0   2019                 \
                          Unnamed: 0_level_1  Total  Youth (15-24)
0                                      World   53.6           66.8
1                                  Developed   86.5           98.5
2                                 Developing   47.1           62.5
3           Least Developed Countries (LDCs)   22.5           32.1
4   Land Locked Developing Countries (LLDCs)   29.4           36.2
5      Small Island Developing States (SIDS)   57.3           68.4
6                                        NaN    NaN            NaN
7                                        NaN  Total  Youth (15-24)
8                                     Africa   26.7             37
9                                   Americas   76.3           90.8
10                               Arab States   56.1           68.5
11                              Asia-Pacific   48.7           65.8
12                                       CIS   76.8           89.3
13                                    Europe   82.6           96.5

                           Unnamed: 4_level_0   2020                 \
    Rest of the population Unnamed: 4_level_1  Total  Youth (15-24)
0                      NaN                NaN   59.1           70.8
1                      NaN                NaN   88.3             99
2                      NaN                NaN   53.3           67.1
3                      NaN                NaN   24.6           34.1
4                      NaN                NaN   32.3           38.3
5                      NaN                NaN   60.6           70.7
6                      NaN                NaN    NaN            NaN
7   Rest of the population                NaN  Total  Youth (15-24)
8                      NaN                NaN   29.5           39.6
9                      NaN                NaN   78.8           91.9
10                     NaN                NaN   62.3           73.2
11                     NaN                NaN   56.2           71.7
12                     NaN                NaN   79.6           91.4
13                     NaN                NaN   84.9           97.2

                           Unnamed: 8_level_0 Unnamed: 9_level_0  \
    Rest of the population Unnamed: 8_level_1 Unnamed: 9_level_1
0                     56.9                NaN                NaN
1                       87                NaN                NaN
2                     50.6                NaN                NaN
3                     22.2                NaN                NaN
4                     30.8                NaN                NaN
5                     57.5                NaN                NaN
6                      NaN                NaN                NaN
7   Rest of the population                NaN                NaN
8                       27                NaN                NaN
9                     76.5                NaN                NaN
10                    59.9                NaN                NaN
11                    53.2                NaN                NaN
12                    78.1                NaN                NaN
13                    83.3                NaN                NaN

   Unnamed: 10_level_0 Unnamed: 11_level_0
   Unnamed: 10_level_1 Unnamed: 11_level_1
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
5                  NaN                 NaN
6                  NaN                 NaN
7                  NaN                 NaN
8                  NaN                 NaN
9                  NaN                 NaN
10                 NaN                 NaN
11                 NaN                 NaN
12                 NaN                 NaN
13                 NaN                 NaN

In [4]:
# Get the age tables from the gender_age excel file
age_df=age_df.iloc[18:32,0:7]
cols = [4,5]
age_df.drop(age_df.columns[cols],axis=1,inplace=True)
# age_df = age_df.drop(24)
# age_df = age_df.drop(25)
age_df

                          Unnamed: 0_level_0   2018                 \
                          Unnamed: 0_level_1  Total         Female
18                                     World   53.6           66.8
19                                 Developed   86.5           98.5
20                                Developing   47.1           62.5
21          Least Developed Countries (LDCs)   22.5           32.1
22  Land Locked Developing Countries (LLDCs)   29.4           36.2
23     Small Island Developing States (SIDS)   57.3           68.4
24                                       NaN    NaN            NaN
25                                       NaN  Total  Youth (15-24)
26                                    Africa   26.7             37
27                                  Americas   76.3           90.8
28                               Arab States   56.1           68.5
29                              Asia-Pacific   48.7           65.8
30                                       CIS   76.8           89.3
31                                    Europe   82.6           96.5

                                    2019
                      Male Male.1  Total         Female
18                     NaN    NaN   59.1           70.8
19                     NaN    NaN   88.3             99
20                     NaN    NaN   53.3           67.1
21                     NaN    NaN   24.6           34.1
22                     NaN    NaN   32.3           38.3
23                     NaN    NaN   60.6           70.7
24                     NaN    NaN    NaN            NaN
25  Rest of the population    NaN  Total  Youth (15-24)
26                     NaN    NaN   29.5           39.6
27                     NaN    NaN   78.8           91.9
28                     NaN    NaN   62.3           73.2
29                     NaN    NaN   56.2           71.7
30                     NaN    NaN   79.6           91.4
31                     NaN    NaN   84.9           97.2

In [ ]:
age_df

In [ ]:
table_name2 = gender_age.iloc[20,0]
table_name2