In [1]:
import pandas as pd

In [24]:
world_df = pd.read_csv("../Resources/data-raw/Data_Extract_From_World_Development_Indicators/world_bank_internet_data.csv", skiprows=[2395,2396,2397,2398,2399,2400])
world_df.replace("..",0)

,Country Name,Country Code,Series Name,Series Code,1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,0,0,0,0,0,...,5,5.454545455,5.9,7,8.26,11,13.5,16.8,17.6,18.4
1,Afghanistan,AFG,Secure Internet servers,IT.NET.SECR,0,0,0,0,0,0,...,16,38,46,57,74,426,1577,1965,1047,1362
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,0,0,0,0,0,0,...,0.531254164,1.219458267,1.425490598,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306
3,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0,0,0,0,0,0,...,13797879,15340115,16807156,18407168,19709038,21602982,23929713,21976355,22580071,22678024
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,45.81362616,49.22797697,52.08357627,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,Africa Western and Central,AFW,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0.000409304,0.005632347,0.009679299,0.012663403,0.026080925,...,59.25287866,68.29760995,76.34620664,81.72986151,86.70769269,86.32538724,84.6725609,94.21880758,94.63652266,99.61737975
2390,Africa Western and Central,AFW,Fixed broadband subscriptions,IT.NET.BBND,0,0,0,0,0,0,...,0,400964,399466,489777,565867,971317,980402,1084105,1209936,1743931
2391,Africa Western and Central,AFW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,0,0,0,0,0,0,...,0,0.110297236,0.108219429,0.135123016,0.145258497,0.242682761,0.238441559,0.274406197,0.278968433,0.391018789
2392,Africa Western and Central,AFW,Fixed telephone subscriptions,IT.MLT.MAIN,692452,764375,823937,899859,1001339,1092484,...,3164968,2941315,2925394,3055563,2943790,2871319,2652247,2531706,2431126,2612210
2393,Africa Western and Central,AFW,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,0.32921817,0.353916015,0.371553146,0.395208695,0.428274765,0.454985209,...,0.878461258,0.794428254,0.768954448,0.781707775,0.733039843,0.695990811,0.632892304,0.628646636,0.562474926,0.588729821

In [17]:
coordinates = pd.read_csv("../Resources/data-raw/world_coordinates.csv")

    Code               Country   latitude  longitude
0     AD               Andorra  42.546245   1.601554
1     AE  United Arab Emirates  23.424076  53.847818
2     AF           Afghanistan  33.939110  67.709953
3     AG   Antigua and Barbuda  17.060816 -61.796428
4     AI              Anguilla  18.220554 -63.068615
..   ...                   ...        ...        ...
239   YE                 Yemen  15.552727  48.516388
240   YT               Mayotte -12.827500  45.166244
241   ZA          South Africa -30.559482  22.937506
242   ZM                Zambia -13.133897  27.849332
243   ZW              Zimbabwe -19.015438  29.154857

[244 rows x 4 columns]

In [29]:
final_world = pd.merge(world_df, coordinates, on="Country")

In [30]:
final_world

,Country,Country Code,Series Name,Series Code,1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],Code,latitude,longitude
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,0,0,0,0,..,...,7,8.26,11,13.5,16.8,17.6,18.4,AF,33.939110,67.709953
1,Afghanistan,AFG,Secure Internet servers,IT.NET.SECR,..,..,..,..,..,..,...,57,74,426,1577,1965,1047,1362,AF,33.939110,67.709953
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,..,..,..,..,..,..,...,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306,AF,33.939110,67.709953
3,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0,0,0,0,0,0,...,18407168,19709038,21602982,23929713,21976355,22580071,22678024,AF,33.939110,67.709953
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184,AF,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,Zimbabwe,ZWE,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,0,0,0,0,0,...,86.83967351,92.34710538,91.79345804,98.98507333,89.40486891,90.10228966,88.75580606,ZW,-19.015438,29.154857
1616,Zimbabwe,ZWE,Fixed broadband subscriptions,IT.NET.BBND,..,..,..,..,..,..,...,152234,163987,170838,187310,203056,204424,203461,ZW,-19.015438,29.154857
1617,Zimbabwe,ZWE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,1.120462817,1.187053232,1.217633426,1.315693816,1.40632166,1.395817464,1.368916372,ZW,-19.015438,29.154857
1618,Zimbabwe,ZWE,Fixed telephone subscriptions,IT.MLT.MAIN,126086,127072,128069,134812,152473,174985,...,329475,333702,305720,264150,268849,265734,252067,ZW,-19.015438,29.154857
1619,Zimbabwe,ZWE,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,1.180470546,1.165744477,1.154527194,1.197079245,1.336226638,1.516174594,...,2.424980534,2.415569756,2.178993496,1.855429616,1.861989658,1.81444526,1.695944889,ZW,-19.015438,29.154857