In [16]:
#Import Dependencies
import pandas as pd
import numpy as np
import json
from json import dumps
from json import dump

# Import the world countries internet data from the World Bank

In [17]:
# Import the countries internet data from world bank 
world_data = pd.read_csv("../Resources/data-raw/Data_Extract_From_World_Development_Indicators/world_bank_internet_data.csv", skipfooter=446, engine="python")
# Replace all ".." with 0
world_data = world_data.replace("..",0)
#Rename the Country and Country Codes column to allow merging later on
world_data.rename(columns={"Country Name": "Country", "Country Code": "Codes"}, inplace=True)
# Remove the brackets and the duplicated value in the Year columns 
world_data.rename(columns={col: col.split('[')[0] for col in world_countries.columns}, inplace=True)
# Remove space in Year columns
world_data.columns = world_data.columns.str.strip()
cols = [3,4,5,6,7,8,9,10,11,12]
world_data.drop(world_data.columns[cols],axis=1,inplace=True)

In [18]:
# # world_countries = world_countries[world_countries['Series Name']!='Secure Internet servers' & (world_countries['Series Name'] != 'Mobile cellular subscriptions')]



# series_names = world_countries[world_countries['Series Name'].isin(['Secure Internet servers', 'Mobile cellular subscriptions','Fixed broadband subscriptions','Fixed telephone subscriptions'])].index
# world_countries.drop(series_names, inplace=True)

In [19]:

world_countries

,Country,Codes,Series Name,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,Individuals using the Internet (% of population),0,0.004722568,0.004561395,0.087891253,0.10580903,1.224148084,2.107123645,...,5,5.454545455,5.9,7,8.26,11,13.5,16.8,17.6,18.4
2,Afghanistan,AFG,Secure Internet servers (per 1 million people),0,0,0,0,0,0,0,...,0.531254164,1.219458267,1.425490598,1.708079913,2.15031248,12.03967054,43.44818099,52.86248045,27.5223881,34.98736306
4,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),0,0,0.1106157,0.84456353,2.426528361,4.677582611,9.534904581,...,45.81362616,49.22797697,52.08357627,55.15951463,57.27106807,61.05463771,65.92913406,59.12084823,59.3560197,58.25581184
6,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),0,0,0,0,0.000808843,0.000857557,0.001891571,...,0,0.004813651,0.004648339,0.004494948,0.020535484,0.024873504,0.025297475,0.043040552,0.051740516,0.068253606
8,Afghanistan,AFG,Fixed telephone subscriptions (per 100 people),0.139557582,0.134215838,0.146233956,0.154977408,0,0,0,...,0.04485445,0.288873636,0.296777873,0.305449729,0.319641044,0.322730963,0.327222367,0.343791756,0.353916384,0.374500884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,ZWE,Individuals using the Internet (% of population),0.401433535,0.799846046,1.1,1.8,2.1,2.4,2.4,...,8.4,12,15.5,16.36473996,22.7428181,23.11998904,24.4,25,25.1,29.3
1946,Zimbabwe,ZWE,Secure Internet servers (per 1 million people),0,0,0,0,0,0,0,...,0.930642113,3.583642092,4.793871754,7.948944226,11.72668825,13.82717936,30.5550504,46.61048291,67.66596067,74.48061879
1948,Zimbabwe,ZWE,Mobile cellular subscriptions (per 100 people),2.242490559,2.633380281,2.833953334,3.034920729,3.541997645,5.358335088,6.985698891,...,71.34923418,96.17835099,102.1182479,86.83967351,92.34710538,91.79345804,98.98507333,89.40486891,90.10228966,88.75580606
1950,Zimbabwe,ZWE,Fixed broadband subscriptions (per 100 people),0,0.006465998,0.023815718,0.053295615,0.074601212,0.08433596,0.083912694,...,0.263681952,0.548259074,0.778375256,1.120462817,1.187053232,1.217633426,1.315693816,1.40632166,1.395817464,1.368916372
1952,Zimbabwe,ZWE,Fixed telephone subscriptions (per 100 people),2.09906563,2.127975764,2.407955638,2.511395213,2.637290523,2.715973959,2.760571334,...,2.760905149,2.300011818,2.278303385,2.424980534,2.415569756,2.178993496,1.855429616,1.861989658,1.81444526,1.695944889

In [20]:
#Import the coordinate csv file, rename columns for merging with each other later on
coordinates = pd.read_csv("../Resources/data-raw/countries-location/world_country.csv")
coordinates.rename(columns={"iso_con" : "Codes", "lat": "Latitude", "lon": "Longitude"},inplace=True)
coordinates.drop(columns=["Unnamed: 0", "country"],inplace=True)
# Merge the coordinates with thE world_data DataFrame
final_world = pd.merge(world_countries, coordinates, on="Codes", how="left")

In [21]:

# # Find out if there are any NaN values for Latitude and Longitude and then drop them 
# final_world[final_world.isnull().any(axis=1)] 
# final_world.dropna(subset=['Latitude','Longitude'],inplace=True)

In [31]:
# Turn the Year columns into Rows
data = pd.melt(final_world, id_vars=['Country', 'Codes','Series Name', 'Longitude', 'Latitude'], var_name='Year', value_name='Values')
data.rename(columns={'Series Name': 'SeriesName'},inplace=True)
# Put all the values in the Values column to numeric
data['Values'] = pd.to_numeric(data['Values'])

In [33]:
# # Creating dataframes from each unique value in Series Name column
# world1=data[data['Series Name']=='Individuals using the Internet (% of population)'].copy()
# world2=data[data['Series Name']=='Secure Internet servers'].copy()
# world3=data[data['Series Name']=='Secure Internet servers (per 1 million people)'].copy()
# world4=data[data['Series Name']=='Mobile cellular subscriptions'].copy()
# world5=data[data['Series Name']=='Fixed broadband subscriptions'].copy()
# world6=data[data['Series Name']=='Fixed broadband subscriptions (per 100 people)'].copy()
# world7=data[data['Series Name']=='Fixed telephone subscriptions'].copy()
# world8=data[data['Series Name']=='Fixed telephone subscriptions (per 100 people)'].copy()

# # Dropping Series Name column and renaming values column to the 8 unique values we extracted from Series Name column
# world1.drop(columns=['Series Name'],inplace=True)
# world1.rename(columns={'Values': 'Individuals using the Internet (% of population)'}, inplace=True)
# world2.drop(columns=['Series Name'],inplace=True)
# world2.rename(columns={'Values': 'Secure Internet servers'}, inplace=True)
# world3.drop(columns=['Series Name'],inplace=True)
# world3.rename(columns={'Values': 'Secure Internet servers (per 1 million people)'}, inplace=True)
# world4.drop(columns=['Series Name'],inplace=True)
# world4.rename(columns={'Values': 'Mobile cellular subscriptions'}, inplace=True)
# world5.drop(columns=['Series Name'],inplace=True)
# world5.rename(columns={'Values': 'Fixed broadband subscriptions'}, inplace=True)
# world6.drop(columns=['Series Name'],inplace=True)
# world6.rename(columns={'Values': 'Fixed broadband subscriptions (per 100 people)'}, inplace=True)
# world7.drop(columns=['Series Name'],inplace=True)
# world7.rename(columns={'Values': 'Fixed telephone subscriptions'}, inplace=True)
# world8.drop(columns=['Series Name'],inplace=True)
# world8.rename(columns={'Values': 'Fixed telephone subscriptions (per 100 people)'}, inplace=True)

# #Resetting Index
# world1.reset_index(drop=True, inplace=True)
# world2.reset_index(drop=True, inplace=True)
# world3.reset_index(drop=True, inplace=True)
# world4.reset_index(drop=True, inplace=True)
# world5.reset_index(drop=True, inplace=True)
# world6.reset_index(drop=True, inplace=True)
# world7.reset_index(drop=True, inplace=True)
# world8.reset_index(drop=True, inplace=True)

# # Merge the 8 Dataframes into one
# world = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(world1,world2), world3), world4), world5),world6),world7),world8)

# Import ITU Regional, Age and Gender Internet Usage Data

### Regions

In [ ]:
# Get the individual using the internet (millions) for all regions data 
# Reading the ITU excel file region sheet to clean and turn into json object
temp_df = pd.read_excel('../Resources/data-raw/Data_Extracted_From_ITU/ITU_regional_global_Key_ICT_indicator_aggregates_rev1_Jan_2022.xlsx', header=None, sheet_name = "By BDT region")

# Getting the first table
temp_df.iloc[3:10,0:18]
# Getting the first column names
table_name = temp_df.iloc[2,0]

#dictionary of tables with key as table name and value as dataframe
table_list = {}
# year list
year_list = list(range(2005,2022))
# range start at 4(3), all the way to row 92 with a step of 9
for i in range(4,29,9):
    #table name, 2 rows from where the table start at 0 (1st) column
    table_name = temp_df.iloc[i-2,0]
    # selecting range of rows and range of columns to extract a table into a dataframe 
    region_df = temp_df.iloc[i:i+6,0:18]
    region_df.reset_index(drop=True, inplace=True)
    # Usingng year_list and table_name as column names
    column_names= [table_name] + year_list
    # Inserting column names
    region_df.columns = column_names
    table_list[table_name]= region_df

### Gender

In [3]:
# Reading the ITU excel file sex and age sheet to clean and turn into gender and age dataframes for data cleaning
gender_df = pd.read_excel('../Resources/data-raw/Data_Extracted_From_ITU/ITU_regional_global_Key_ICT_indicator_aggregates_rev1_Jan_2022.xlsx', skiprows=(0,1),sheet_name = "Internet use by sex & age")
gender_df

,"Percentage of individuals using the Internet, by sex",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,2018,2018,2018,NaN,2019,2019,2019,NaN,2020,2020,2020
1,NaN,Total,Female,Male,NaN,Total,Female,Male,NaN,Total,Female,Male
2,World,49.1,46.2,52,NaN,53.6,50.9,56.4,NaN,59.1,56.5,61.7
3,Developed,84.7,83.7,85.7,NaN,86.5,85.7,87.4,NaN,88.3,87.7,89
4,Developing,41.9,38.3,45.5,NaN,47.1,43.7,50.5,NaN,53.3,50.1,56.5
5,Least Developed Countries (LDCs),20,14.6,25.6,NaN,22.5,16.9,28.3,NaN,24.6,18.8,30.5
6,Land Locked Developing Countries (LLDCs),26.4,21.2,31.6,NaN,29.4,24.1,34.7,NaN,32.3,26.8,37.8
7,Small Island Developing States (SIDS),54.4,53.3,55.4,NaN,57.3,56.4,57.8,NaN,60.6,59.4,61.2
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Total,Female,Male,NaN,Total,Female,Male,NaN,Total,Female,Male
10,Africa,24.2,17.8,30.8,NaN,26.7,20.7,32.9,NaN,29.5,23.7,35.4
11,Americas,74,74.4,73.5,NaN,76.3,76.8,75.7,NaN,78.8,79.3,78.3
12,Arab States,51.1,43.5,58.2,NaN,56.1,49.2,62.6,NaN,62.3,56.1,68.1
13,Asia-Pacific,42.6,39.6,45.5,NaN,48.7,45.8,51.4,NaN,56.2,53.6,58.7
14,CIS,72.9,71.4,74.5,NaN,76.8,75.5,78.4,NaN,79.6,78.5,80.8
15,Europe,80,77.5,82.8,NaN,82.6,80.2,85.1,NaN,84.9,82.9,87
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Percentage of individuals using the Internet, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,2019,2019,2019,NaN,2020,2020,2020,NaN,NaN,NaN,NaN
19,NaN,Total,Youth (15-24),Rest of the population,NaN,Total,Youth (15-24),Rest of the population,NaN,NaN,NaN,NaN
20,World,53.6,66.8,NaN,NaN,59.1,70.8,56.9,NaN,NaN,NaN,NaN
21,Developed,86.5,98.5,NaN,NaN,88.3,99,87,NaN,NaN,NaN,NaN
22,Developing,47.1,62.5,NaN,NaN,53.3,67.1,50.6,NaN,NaN,NaN,NaN
23,Least Developed Countries (LDCs),22.5,32.1,NaN,NaN,24.6,34.1,22.2,NaN,NaN,NaN,NaN
24,Land Locked Developing Countries (LLDCs),29.4,36.2,NaN,NaN,32.3,38.3,30.8,NaN,NaN,NaN,NaN
25,Small Island Developing States (SIDS),57.3,68.4,NaN,NaN,60.6,70.7,57.5,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Total,Youth (15-24),Rest of the population,NaN,Total,Youth (15-24),Rest of the population,NaN,NaN,NaN,NaN
28,Africa,26.7,37,NaN,NaN,29.5,39.6,27,NaN,NaN,NaN,NaN
29,Americas,76.3,90.8,NaN,NaN,78.8,91.9,76.5,NaN,NaN,NaN,NaN
30,Arab States,56.1,68.5,NaN,NaN,62.3,73.2,59.9,NaN,NaN,NaN,NaN
31,Asia-Pacific,48.7,65.8,NaN,NaN,56.2,71.7,53.2,NaN,NaN,NaN,NaN
32,CIS,76.8,89.3,NaN,NaN,79.6,91.4,78.1,NaN,NaN,NaN,NaN
33,Europe,82.6,96.5,NaN,NaN,84.9,97.2,83.3,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,All data are ITU estimates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Values are rounded to 1 decimal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Regions in this table are based on the ITU reg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,ITU World Telecommunication/ICT Indicators dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Updated: 20 October 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Get the gender tables
gender_df=gender_df.iloc[0:16,0:18] 
# #Drop unnecessary columns
cols = [1,2,3,4,5,6,7,8]
gender_df.drop(gender_df.columns[cols],axis=1,inplace=True)
# # # Drop unnecessary rows
gender_df = gender_df.drop(0)
gender_df = gender_df.drop(1)
gender_df = gender_df.drop(3)
gender_df = gender_df.drop(4)
gender_df = gender_df.drop(5)
gender_df = gender_df.drop(6)
gender_df = gender_df.drop(7)
gender_df = gender_df.drop(8)
gender_df = gender_df.drop(9)

,"Percentage of individuals using the Internet, by sex",Unnamed: 9,Unnamed: 10,Unnamed: 11
2,World,59.1,56.5,61.7
10,Africa,29.5,23.7,35.4
11,Americas,78.8,79.3,78.3
12,Arab States,62.3,56.1,68.1
13,Asia-Pacific,56.2,53.6,58.7
14,CIS,79.6,78.5,80.8
15,Europe,84.9,82.9,87

In [5]:
gender_df.columns=['Percentage of individuals using the Internet, by sex', '% Total 2020','% Female 2020','% Male 2020']
gender_df.reset_index(inplace=True, drop=True)
gender_df

,"Percentage of individuals using the Internet, by sex",% Total 2020,% Female 2020,% Male 2020
0,World,59.1,56.5,61.7
1,Africa,29.5,23.7,35.4
2,Americas,78.8,79.3,78.3
3,Arab States,62.3,56.1,68.1
4,Asia-Pacific,56.2,53.6,58.7
5,CIS,79.6,78.5,80.8
6,Europe,84.9,82.9,87

### Age

In [6]:
age_df = pd.read_excel('../Resources/data-raw/Data_Extracted_From_ITU/ITU_regional_global_Key_ICT_indicator_aggregates_rev1_Jan_2022.xlsx', skiprows=range(0,19),skipfooter=10 , sheet_name = "Internet use by sex & age")
age_table_name=age_df.iloc[0,0]

In [8]:
# Get the age tables from the gender_age excel file
age_df=age_df.iloc[3:17,0:8]
age_df = age_df.drop(4)
age_df = age_df.drop(5)
age_df = age_df.drop(6)
age_df = age_df.drop(7)
age_df = age_df.drop(8)
age_df = age_df.drop(9)
age_df = age_df.drop(10)
cols= [1,2,3,4]
age_df.drop(age_df.columns[cols],axis=1,inplace=True)
age_df.columns=[age_table_name,'% Total 2020','% Youth(15-24) 2020','% Rest of Population 2020']
age_df

,"Percentage of individuals using the Internet, by age",% Total 2020,% Youth(15-24) 2020,% Rest of Population 2020
3,World,59.1,70.8,56.9
11,Africa,29.5,39.6,27
12,Americas,78.8,91.9,76.5
13,Arab States,62.3,73.2,59.9
14,Asia-Pacific,56.2,71.7,53.2
15,CIS,79.6,91.4,78.1
16,Europe,84.9,97.2,83.3

In [10]:
age_df.reset_index(inplace=True, drop=True)